.AboutContainer {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-image: linear-gradient(to top, #212529 30%, #ffffff00), url('../../images/AboutBackground.png');
}