.MainWrapper {
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, #212529 40%, #ffffff00), url('../images/MainBackground.jpg');
}

.DivContainer {
  margin-left: 10%;
}