.ProjectsContainer {
  padding-top: 180px;
  padding-bottom: 50px;
}

.ImageCard {
  max-height: 325px;
}

.PortfolioContainer {
  overflow-x: hidden;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.card {
  box-shadow: 2px 2px 10px 2px white;
  transition: transform .2s;
  text-decoration:none;
}

.card:hover {
  transform: scale(1.1);
}